 <ul *ngIf='username' class="nav navbar-nav navbar-right">
    <li>
        <a (click)='onClick()'><i class="glyphicon glyphicon-user" aria-hidden="true"></i>  Bienvenido {{rolename}} {{username}}!</a>
    </li>
    <li><a (click)='onLogout()'><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> Salir</a></li>
</ul>
<ul *ngIf='!username' class="nav navbar-nav navbar-right">
    <li>
        <a [routerLink]="['/login']">Login</a>
       <!-- <a (click)='onLogin()'>Login</a>-->
    </li>
</ul>