<!--<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToTcWEdaqxwyqjRwfFgik_aO_wrWAuyHP0kifIBjFgZ0qfswjDRkWp6Bs" 
                 class="img-responsive center-block"
                 style="max-height:500px;padding-bottom:50px"/>
        </div>
       
      
    </div>
</div>-->
 <div class="row"  >
             <h3 class="text-center">Bienvenidos a VO2Sport</h3>
             <div class="text-center">La mejor forma de comprar</div>
          
        </div><br>

<vo2-saleproducts></vo2-saleproducts>