<div class="col-md-6 col-md-offset-3">
    <div [hidden]="submitted">
        <h1>{{pageTitle}}</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="this.role.roleName" name="name"
                    #name="ngModel" placeholder="Ingrese el nombre del rol">
                <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                El nombre del rol es requerido
                </div>
            </div>
        <button  class="btn btn-default" [routerLink]="['/roles']">Cancelar</button>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
        </form>
    </div>
</div>

