<div class='panel panel-primary'>
    <div class='panel-heading'>
         {{pageTitle}}
    </div>
    <div class='panel-body'>        
        <div class='table-responsive'>           
            <form>
               <div class="form-group">
                    <label for="subject">Id</label>
                    <output type="text">1 </output>
                </div>

                <div class="form-group">
                    <label for="subject">Producto</label>
                    <output type="text">Buzo</output>
                </div>              
                
                <div class="form-group">
                    <label for="subject">Descripcion</label>
                    <output type="text">Para invierno</output>
                </div>
                
                <div class="form-group">
                    <label for="subject">Marca</label>
                    <output type="text">Nike</output>
                </div>
                
                <div class="form-group">
                    <label for="subject">Precio</label>
                    <output type="text">234</output>
                </div>                
                
                <div class="form-group">
                    <label for="subject">Stock</label>
                    <output type="text">3</output>
                </div>
            </form>
        </div>
    </div>
</div>
<a [routerLink]="['/usuarios']"><button (click)='toggleImage()'class='btn btn-primary'>Volver</button></a>     
 
