<div *ngIf='isLogged'>
   
            <ul class='nav navbar-nav'> 
                    <li><a [routerLink]="['/carrito']"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Mi Carrito</a></li>
                    <li><a [routerLink]="['/compras']"><i class="glyphicon glyphicon-credit-card" aria-hidden="true"></i> Mis Compras</a></li>
                    <li><a [routerLink]="['/reviews']"><i class="glyphicon glyphicon-star" aria-hidden="true"></i> Reviews</a></li>
                    <li><a [routerLink]="['/notificaciones']"><i class="glyphicon glyphicon-bell" aria-hidden="true"></i> Mis Notificaciones</a></li>
            </ul>
       
</div>